/* Application-wide Styles */
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
    color: #369;
}
h2,
h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: #444;
}
body {
    margin: 2em;
}
body,
input[text],
button {
    font-family: Cambria, Georgia;
    color: #888;
}
/* everywhere else */
* {
    font-family: Arial, Helvetica, sans-serif;
}
