/* HeroesComponent's private CSS styles */
.selected {
    color: white;
    background-color: #cfd8dc !important;
}
.heroes {
    width: 15em;
    margin: 0 0 2em 0;
    padding: 0;
    list-style-type: none;
}
.heroes li {
    position: relative;
    left: 0;
    height: 1.6em;
    margin: .5em;
    padding: .3em 0;
    border-radius: 4px;
    background-color: #eee;
    cursor: pointer;
}
.heroes li.selected:hover {
    color: white;
    background-color: #bbd8dc !important;
}
.heroes li:hover {
    left: .1em;
    color: #607d8b;
    background-color: #ddd;
}
.heroes .text {
    position: relative;
    top: -3px;
}
.heroes .badge {
    position: relative;
    top: -4px;
    left: -1px;
    display: inline-block;
    height: 1.8em;
    margin-right: .8em;
    padding: .8em .7em 0 .7em;
    font-size: small;
    line-height: 1em;
    color: white;
    border-radius: 4px 0 0 4px;
    background-color: #607d8b;
}
